# Intro Python

![elgif](https://media.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif)

[PEP-8](https://peps.python.org/pep-0008/)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

![otrogif](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cell-types-in-Jupyter-Notebook" data-toc-modified-id="Cell-types-in-Jupyter-Notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cell types in Jupyter Notebook</a></span></li><li><span><a href="#Sub-tÃ­tulo" data-toc-modified-id="Sub-tÃ­tulo-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Sub-tÃ­tulo</a></span><ul class="toc-item"><li><span><a href="#Sub-tÃ­tulo" data-toc-modified-id="Sub-tÃ­tulo-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Sub tÃ­tulo</a></span></li><li><span><a href="#Code" data-toc-modified-id="Code-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Code</a></span></li><li><span><a href="#Shortcuts" data-toc-modified-id="Shortcuts-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Shortcuts</a></span></li></ul></li><li><span><a href="#Integer-numbers" data-toc-modified-id="Integer-numbers-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Integer numbers</a></span></li><li><span><a href="#Real-numbers-(floats)" data-toc-modified-id="Real-numbers-(floats)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Real numbers (floats)</a></span></li><li><span><a href="#Basic-operations" data-toc-modified-id="Basic-operations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Basic operations</a></span><ul class="toc-item"><li><span><a href="#built-in-and-imported-things" data-toc-modified-id="built-in-and-imported-things-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>built-in and imported things</a></span></li></ul></li><li><span><a href="#Strings-(character-strings)" data-toc-modified-id="Strings-(character-strings)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Strings (character strings)</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#icons" data-toc-modified-id="icons-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>icons</a></span></li></ul></li></ul></li><li><span><a href="#Casting-in-Python" data-toc-modified-id="Casting-in-Python-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Casting in Python</a></span><ul class="toc-item"><li><span><a href="#Implicit-conversion" data-toc-modified-id="Implicit-conversion-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Implicit conversion</a></span></li><li><span><a href="#explicit-conversion" data-toc-modified-id="explicit-conversion-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>explicit conversion</a></span><ul class="toc-item"><li><span><a href="#Convert-float-to-int" data-toc-modified-id="Convert-float-to-int-7.2.1"><span class="toc-item-num">7.2.1&nbsp;&nbsp;</span>Convert float to int</a></span></li><li><span><a href="#Convert-a-float-to-a-string" data-toc-modified-id="Convert-a-float-to-a-string-7.2.2"><span class="toc-item-num">7.2.2&nbsp;&nbsp;</span>Convert a float to a string</a></span></li><li><span><a href="#Convert-int-to-str" data-toc-modified-id="Convert-int-to-str-7.2.3"><span class="toc-item-num">7.2.3&nbsp;&nbsp;</span>Convert int to str</a></span></li></ul></li></ul></li><li><span><a href="#Input-and-output-data" data-toc-modified-id="Input-and-output-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Input and output data</a></span><ul class="toc-item"><li><span><a href="#Input" data-toc-modified-id="Input-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Input</a></span></li><li><span><a href="#Print" data-toc-modified-id="Print-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Print</a></span></li></ul></li><li><span><a href="#Format" data-toc-modified-id="Format-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Format</a></span><ul class="toc-item"><li><span><a href="#Format---1" data-toc-modified-id="Format---1-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Format - 1</a></span></li><li><span><a href="#Format---2" data-toc-modified-id="Format---2-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Format - 2</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#String-methods" data-toc-modified-id="String-methods-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>String methods</a></span></li></ul></li><li><span><a href="#Data-structures" data-toc-modified-id="Data-structures-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Data structures</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#list-methods" data-toc-modified-id="list-methods-11.1.1"><span class="toc-item-num">11.1.1&nbsp;&nbsp;</span>list methods</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#sets" data-toc-modified-id="sets-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span>sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-11.4"><span class="toc-item-num">11.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

## Cell types in Jupyter Notebook

Esto es una celda de texto

In [2]:
Esto es una celda de texto

SyntaxError: invalid syntax (2101640841.py, line 1)

#Â TÃ­tulo

##Â Sub-tÃ­tulo

###Â Sub tÃ­tulo

[Esto es google](https://www.google.es)

![Esto es una imagen (que no se va a renderizar)](https://m.facebook.com/IronhackSpain/photos/a.644771729221628/1108169482881848/?type=3&source=44&ref=py_c)

### Code

In [ ]:
print("Esto es un print")

In [ ]:
print("mi segundo print")

In [ ]:
a = 20

### Shortcuts

To run the cell

- `ctrl + enter`
- `shift + enter` #this one runs the cell and jumps to the next one

- `a` for new cell above
- `b` for new cell below
- `d + d` for shortcut mode

- `m` or `y` for switching between markdwon and code

# Type of data
## Integer numbers

In [3]:
un_entero = 4

In [4]:
un_entero

4

In [5]:
print(un_entero)

4

In [6]:
a = 10
b = 20
a
b # Notebook imprime el Ãºltimo valor

20

In [7]:
a = 10
b = 20
print(a)
b # Notebook imprime el Ãºltimo valor

10

20

In [8]:
type(a)

int

## Real numbers (floats)

In [9]:
a = 12.34

In [10]:
print(a)

12.34

In [11]:
type(a)

float

In [12]:
b = 12.0

In [13]:
#Â Type(b)

#Â 1. int? 
#Â 2. float?

In [14]:
type(b)

float

In [15]:
a = '10' #str

In [16]:
b = '10.0' #str

In [17]:
c = '10.56' #Â str

In [18]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

## Basic operations

In [19]:
a = 10
b = 3

In [20]:
10 + 3

13

In [21]:
#Â Suma
a + b

13

In [22]:
# resta

a - b

7

In [23]:
#Â divisiones 

division = a / b

In [24]:
type(division)

float

In [25]:
#Â divisiones: floor division: divisiÃ³n redondeada hacia abajo

floor_division = a // b
floor_division

3

In [26]:
type(floor_division)

int

In [27]:
#MÃ³dulo: resto de la divisiÃ³n

a % b

1

In [28]:
a

10

In [29]:
b

3

In [30]:
# Par / impar -> mÃ³dulo (resto)
#Â Si el resto de una divisiÃ³n entre dos es cero: par

In [31]:
list_ = [1, 2, 3, 4, 5, 6]

for i in list_:
    if i % 2 == 0:
        print(f"El numero {i} es par")
    else:
        print(f"El numero {i} NO es par")

El numero 1 NO es par
El numero 2 es par
El numero 3 NO es par
El numero 4 es par
El numero 5 NO es par
El numero 6 es par

###Â built-in and imported things

methods = functions = things that do things

- print is a method
- sum is a method

some are built-in into python version
asome need to be imported

In [32]:
# pip/conda install something (library)
#Â import the library

In [33]:
import math

In [34]:
math.floor(8789.098767)

8789

In [35]:
print("Se llama built-in")

Se llama built-in

In [36]:
"Esto es una string".upper()

'ESTO ES UNA STRING'

## Strings (character strings)

In [37]:
"Esto es una string"

'Esto es una string'

In [38]:
'Esto es una string con comillas simples'

'Esto es una string con comillas simples'

In [39]:
"Esto es una string con comillas simples" #End Of Line

'Esto es una string con comillas simples'

In [40]:
esto_es_string_tambien = "4"
esto_es_string_tambien

'4'

In [41]:
type(esto_es_string_tambien)

str

In [42]:
"Esto es una string 
con varias lineas"

SyntaxError: EOL while scanning string literal (3033280629.py, line 1)

In [ ]:
"""
Esto es una string
con varias lineas"""

In [ ]:
print("""
Esto es una string
con varias lineas""")

####Â icons

In [ ]:
"ðŸ˜" #emojis -> son strings

In [ ]:
cara_corazones = "ðŸ˜"

In [ ]:
cara_corazones

In [ ]:
type(cara_corazones)

## Casting in Python

In [ ]:
# int
#Â floats
#Â str

In [ ]:
a = " sdsds"

In [ ]:
a = 10

Casting means converting one data type to another. We have previously seen types such as int, string or float. Well, it is possible to convert from one type to another.
But first of all, let's see the different types of cast or type conversion that can be done. There are two:

**Implicit conversion:** This is done automatically by Python. It occurs when we perform certain operations with two different types.

**Explicit conversion:** We do this explicitly, such as converting str to int with str().

### Implicit conversion
This type conversion is done automatically by Python, practically without our realizing it. Still, it's important to know what's going on underneath to avoid future problems.

The simplest example where we can see this behavior is the following:

- a is an int
- b is a float

But if we add a and b and store the result in a, we can see how internally Python has converted the int to float to perform the operation, and the resulting variable is float.
However, there are other cases where Python is not as smart and is not capable of performing the conversion. If we try to add an int to a string, we will get a TypeError.

In [ ]:
a = 10

In [ ]:
b = 10.0

In [ ]:
c = a + b

In [ ]:
c

In [ ]:
type(c)

### explicit conversion
On the other hand, we can make conversions between types or castings explicitly using different functions provided by Python. The most used are the following:

`float(), str(), int(), list(), set()`

#### Convert float to int
To convert from float to int we must use int(). But be careful, because the integer type cannot store decimals, so we will lose whatever is after the decimal point.

In [ ]:
a = 10.0

In [ ]:
type(a)

In [ ]:
a = int(a)

In [ ]:
a

In [ ]:
type(a)

#### Convert a float to a string
We can convert a float to a string with str(). We can see in the following code how the type of a changes after the cast.

In [ ]:
float("Esta string")

In [ ]:
str(0.9)

In [ ]:
float("4.0")

In [ ]:
int("45678")

In [ ]:
int("45678i")

#### Convert int to str
Like the conversion to float above, we can convert from string to int using int().

## Input and output data
### Input
To assign a variable to a value entered by the user at the console, use the statement
``python
input(message) : Displays the message of the string by the terminal and returns a string with the input
  ```

In [ ]:
saludo = input()

In [ ]:
saludo

In [ ]:
saludo = input(prompt = "Esto es el prompt")

In [ ]:
nombre = input("Escribe aquÃ­ tu nombre: ")

In [ ]:
nombre

In [ ]:
number = input("Escribe aquÃ­ tu nÃºmero: ")

In [ ]:
number

In [ ]:
number * 10

In [ ]:
number / 2

In [ ]:
numero = int(input("Escribe aquÃ­ tu nÃºmero: "))

In [ ]:
numero = int(input("Escribe aquÃ­ tu nÃºmero: "))
numero

In [ ]:
type(numero)

In [ ]:
int(numero / 2)

In [ ]:
#Â Anticipar un posible problema -> ProgramaciÃ³n defensiva
    #Â Asegurarme que el nÃºmero es un entero
    #Â LÃ³gica: if/else
    #Â GestiÃ³n errores:
       #Â Forzar error
        #Â Prevenir que salte: try / except

### Print
The print() function prints the specified message to the screen, or to another standard output device.

The message can be a string, or any other object, the object will be converted to a string before being written to the screen.

In [ ]:
#Â NUESTRO AMIGO

#Â debugear -> buscar el error

In [ ]:
print("Esto es un print")

In [ ]:
a

In [ ]:
a = 0

In [ ]:
def suma (a, b):
    return a + b

In [ ]:
suma(2, 3)

In [ ]:
resultado = suma(2, 3)
resultado

In [ ]:
type(resultado)

In [ ]:
def suma (a, b):
     print(a + b)
        #Â NONE

In [ ]:
resultado = suma(2, 3)
resultado

In [ ]:
type(resultado)

In [ ]:
#Â Imprime en pantalla
# PERO NO DEVUELVE NADA

## Format

### Format - 1

In [ ]:
string = "Una CADENA de caracteres"

In [ ]:
nombre = "Laura"

In [ ]:
edad = 30

In [ ]:
f"Mi nombre es {nombre} y mi edad es {edad}"

### Format - 2

In [ ]:
nombre = "Laura"

In [ ]:
edad = 30

In [43]:
"Mi nombre es {} y mi edad es {}".format(nombre, edad)

NameError: name 'nombre' is not defined

In [ ]:
list_ = [1, 2, 3, 4]

In [ ]:
f"Esta es una lista {list_}"

## Strings

### String methods
Methods are actions or functions that an object can perform. Just as Python offers a series of â€œbuilt-inâ€ functions, it also offers us a set of already created methods. These methods depend on the type of object we are working with.

In [ ]:
una_string = "esto es una frase"

In [ ]:
una_string.capitalize() #Â Al llamar a una funciÃ³n
#Â pasamos los parÃ©ntesis

In [ ]:
"Esto es una frase"

In [ ]:
una_string

In [ ]:
# RETURNS A COPY

In [ ]:
otra_string = "esto es una frase".capitalize()

In [ ]:
otra_string

In [ ]:
una_string = "esto es una frase"

In [ ]:
una_string = "esto es una frase".capitalize()

In [ ]:
una_string

We are going to explain in class some of the most used methods during bootcamp, keep in mind that you always have to keep in mind the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods )

`capitalize` Returns a copy of the string with its first character uppercase and the rest lowercase.

`upper` Returns a copy of the string with all characters in uppercase

In [ ]:
"esto es una frase".upper()

`isupper` Returns True if all uppercase characters in the string are uppercase and there is at least one uppercase character, False otherwise.

In [ ]:
"TODO EN MAYÃšSCULA".isupper()

In [ ]:
"TODO EN mAYÃšSCULA".isupper()

`lower` Returns a copy of the string with all lowercase characters

In [ ]:
"TODO EN mAYÃšSCULA".lower()

`islower` is like isupper but....we check for lowercase

In [ ]:
"TODO EN MAYÃšSCULA".islower()

`swapcase` Returns a copy of the string with uppercase characters converted to lowercase and vice versa.

In [ ]:
"TODO EN mAYÃšSCULA".swapcase()

`title` Returns an uppercase version of the string in which words start with an uppercase character and all other characters are lowercase.

In [ ]:
"TODO EN mAYÃšSCULA".title()

`join(iterable)`

Returns a string that is the concatenation of the strings in the iterable. A TypeError will be raised if there are any non-string values â€‹â€‹in the iterable, including bytes objects. The separator between elements is the string provided by this method.

In [ ]:
list_ = ["un elemento", "otro elemento", "6", "7", "10"]

In [ ]:
"887".join(list_)

`startswith` Returns True if the string starts with the prefix, otherwise returns False. prefix can also be a tuple of prefixes to search for. With optional start, check the string starting at that position. With optional end, stop matching the string at that position.

In [ ]:
phone_num = "6000000000"

In [ ]:
phone_num.startswith("+")

In [ ]:
phone_num = "+346000000000"

In [ ]:
phone_num.startswith("+")

In [ ]:
nombre_andrea = "Andrea"

In [ ]:
nombre_andrea.startswith("a")

In [ ]:
nombre_andrea.startswith("A") #Â case sensitive

`endswith` Returns True if the string ends with the specified suffix, otherwise returns False.

`str.lstrip([chars])`
Returns a copy of the string with the leading characters removed. The chars argument is a string that specifies the set of characters to remove. If omitted or none present, the chars argument removes whitespace by default. The chars argument is not a prefix, but all combinations of its values â€‹â€‹are removed:

In [ ]:
otra_string_mÃ¡s = " esto es otra string :_) "

In [ ]:
otra_string_mÃ¡s.lstrip()

In [ ]:
otra_string_mÃ¡s.rstrip()

In [ ]:
otra_string_mÃ¡s.strip() # por defecto izq & dcha

In [ ]:
otra_string_mÃ¡s = "esto es otra string :_) "
otra_string_mÃ¡s.strip()

`lstrip` and `rstrip` do the same thing but with leading and trailing spaces

`str.replace(old, new[, count])`
Returns a copy of the string with all occurrences of the substring old replaced by new. If the optional count argument is given, only the first occurrences of count are replaced.

In [ ]:
" vbhjk l67 890 ".replace(" ", "")

In [ ]:
" vbhjk l67 890 ".replace(" ", "-")

In [ ]:
"-".join(["lista", "de", "strings"])

`str.split(sep=None)`
Returns a list of the words in the string, using sep as the delimiter string.

In [ ]:
'lista-de-strings'.split("-") #El separador no me lo devuelve

In [ ]:
'lista de strings'.split(" ")

In [ ]:
'lista-de-strings '.replace("-", " ").rstrip().capitalize() + "."

In [ ]:
"lista de strings".replace(" ", "").split(" ")

In [ ]:
# podÃ©is poner diferentes replace
#Â cuidado con el orden

In [ ]:
# MINI RECAP

#Â Data types
    #Â int: nÃºmeros sin decimales, sin comillas
    #Â floats: nÃºmeros con decimales, INCLUSO SI SON CERO
    #Â strings: con comillas. son texto. reciben todo. 
        # "", "' -> si las comillas no coinciden, error (EOL, esperaba algo mÃ¡s :/)
        # """Comentarios multi-lÃ­nea"""
        #Â Format:
            #f"Contenido string {variable}"
            #"Contenido string {}".format(variable)
        #Â MÃ©todos (built-in): muchos
         #Â upper, lower, isupper(), islower(), capitalize(), strip()
        #Â LA MAYORÃA DEVUELVEN COPIAS: si no lo guardamos sÃ³lo lo vemos
        #Â Sabemos que son mÃ©todos porque llevan parÃ©ntesis
    
    #Â cast: cambiar el tipo de dato
        #Â implÃ­cita: lo hace python
        #Â explÃ­cita: forzamos utilizando: float(3), str(4), int("3")
    
   # programciÃ³n defensiva: anticipar un problema y adelantarnos 
    
# Input
    #Â guardar el contenido que recibimos como una string

#Â notebooks
    #Â dos tipos de celda: markdown (lenguaje de texto) & cÃ³digo (cÃ³digo)
    #Â KERNEL: la memoria de trabajo. la memoria temporal, cachÃ©
        #Â hemos sobre-escrito una variable
        #Â no en contramos el error, etc
        #Â import librerÃ­a -> no funciona pero estÃ¡
        #Â PARAR EJECUCIÃ“N: loop infinito

In [ ]:
# DEFINIR
def funciones (): 
    """Hacen cosas: llevan parÃ©ntesis detrÃ¡s"""
    return 

#Â LLAMAR
funciones()

## Data structures
There are 4 elements in python that allow us to store collections of data.
- Lists
- Tuples
- sets
- Dictionaries

In [ ]:
a = "sdsdsd"

In [ ]:
a

In [ ]:
a.upper()

In [ ]:
"sdsdsd".upper()

### Lists

Lists can contain different types of data

In [ ]:
list_ = [1, 2.0, "una string", [1,2,45]]

In [ ]:
list_

In [ ]:
list_1 = [1]
list_1

#### list methods
`append` Adds an item to the end of the list.

In [ ]:
#list

In [ ]:
list_ #Â palabra reservada

In [ ]:
list_.append("sd") # SÃ­ se ve modificado, no devuelve copia

In [ ]:
list_

In [ ]:
list_.append(4)

In [ ]:
list_

In [ ]:
list_.append([3])

In [ ]:
list_

In [ ]:
for i in list_:
    print(f"El elemento es {i}, y el tipo es: {type(i)}")

In [ ]:
list_.append([3, 4, 5])

In [ ]:
list_

`extend` Extend the list by adding all the items in the iterable to it

In [ ]:
list_.extend([3, 4, 5]) #Â Docstring: Extend list by appending elements from the iterable.

In [ ]:
list_

In [ ]:
print(list_)

In [ ]:
list_.extend(" 2 3")

In [ ]:
print(list_)

In [ ]:
un_iterable = " 2 3"

In [ ]:
new_list = []

In [ ]:
for i in un_iterable:
    new_list.append(i)

In [ ]:
new_list

`insert` Inserts an item at a given position. The first argument is the index of the item to be inserted before, so a.insert(0, x) inserts at the beginning of the list and a.insert(len(a), x) is equivalent to a.append(x ).

In [ ]:
len("ssdsdsdsds sdsdds")

In [ ]:
print(new_list)

In [ ]:
new_list[3] #Â El primer elemento se corresponde con el ÃNDICE cero

In [ ]:
# Los iterables tienen elementos que ocupan una posiciÃ³n

In [ ]:
print(list_)

In [ ]:
list_.insert(1, "HOLA")

In [ ]:
list_[1]

In [ ]:
# por defecto el append lo pone el Ãºltimo

`remove` Removes the first item in the list whose value is x. Throws a ValueError if no such item exists.

In [ ]:
nombres = ["MarÃ­a", "Laura", "ValentÃ­n", "Laura", "Natalia"]
nombres

In [ ]:
new_list = []
for i in nombres:
    if i != "Laura":
        new_list.append(i)
new_list

In [ ]:
nombres.count("Laura")

In [ ]:
nombres.remove("MarÃ­a")

In [ ]:
nombres

`pop` Pops the item at the given position from the list and returns it. If no index is specified, a.pop() pops and returns the last element in the list.

In [ ]:
nombres = ["MarÃ­a",  "ValentÃ­n", "Laura", "Natalia"]

In [ ]:
el_nombre = nombres.pop().upper().replace("A", "ðŸ˜€").strip()
el_nombre

In [ ]:
nombres[-2]

In [ ]:
el_nombre = nombres.pop(-2)

In [ ]:
el_nombre

In [ ]:
nombres

In [ ]:
nombres.index('ValentÃ­n') #Return first index of value.

In [ ]:
for i in nombres:
    print(f"El elemento {i} ocupa la posiciÃ³n {nombres.index(i)}")
print(f"La longitud total de la lista es {len(nombres)}")

In [ ]:
#Â Q: si quiero ver el Ã­ndice de todos
#Â Existe un parÃ¡metro que me dice el start (tomar como referencia el anterior)

`clear` Removes all elements from the list

In [ ]:
list_.clear()

In [ ]:
list_

`count` Returns the number of times x appears in the list.

In [ ]:
nombres.count("Laura")

`list.sort()` See also [sorted()](https://docs.python.org/3/howto/sorting.html).

`list.reverse()`
Reverses list items in place.

In [ ]:
nombres.reverse()

In [ ]:
nombres

`slicing` is not a method as such, but we can play with the elements of the lists and their positions

In [ ]:
nombres[2:]

In [ ]:
nombres.extend(nombres)

In [ ]:
nombres

In [ ]:
nombres[4:]

In [ ]:
nombres[::-1]

`start, stop, step`

In [ ]:
lista_numeros[0:10:2]

In [ ]:
# MINI RECAP

#Â Data types
    #Â int: nÃºmeros sin decimales, sin comillas
    #Â floats: nÃºmeros con decimales, INCLUSO SI SON CERO
    #Â strings: con comillas. son texto. reciben todo. 
        # "", "' -> si las comillas no coinciden, error (EOL, esperaba algo mÃ¡s :/)
        # """Comentarios multi-lÃ­nea"""
        #Â Format:
            #f"Contenido string {variable}"
            #"Contenido string {}".format(variable)
        #Â MÃ©todos (built-in): muchos
         #Â upper(), lower(), isupper(), islower(), capitalize(), strip()
        #Â LA MAYORÃA DEVUELVEN COPIAS: si no lo guardamos sÃ³lo lo vemos
        #Â Sabemos que son mÃ©todos porque llevan parÃ©ntesis
    
    #Â cast: cambiar el tipo de dato
        #Â implÃ­cita: lo hace python
        #Â explÃ­cita: forzamos utilizando: float(3), str(4), int("3")
    
   # programaciÃ³n defensiva: anticipar un problema y adelantarnos 
    
# Input
    #Â guardar el contenido que recibimos como una string

#Â notebooks
    #Â dos tipos de celda: markdown (lenguaje de texto) & cÃ³digo (cÃ³digo)
    #Â KERNEL: la memoria de trabajo. la memoria temporal, cachÃ©
        #Â hemos sobre-escrito una variable
        #Â no en contramos el error, etc
        #Â import librerÃ­a -> no funciona pero estÃ¡
        #Â PARAR EJECUCIÃ“N: loop infinito

### Tuples

Tuples in Python are a data type or structure that allows you to store data in much the same way as lists, except that they are immutable. So we will not be able to:
 - change your items
 - add new values

In [ ]:
list_ = [1, 2]

In [ ]:
tupla = (1, 2, "2")

In [ ]:
type(list_)

In [ ]:
type(tupla)

In [ ]:
for i in tupla:
    print(i)

In [ ]:
def suma (a, b):
    suma_hecha = a + b
    return suma_hecha

suma(3, 4)

In [ ]:
def calculo (a, b):
    return a*2, b*2

In [ ]:
#Q: lista en vez de tupla en el return de la funciÃ³n?

def calculo (a, b):
    return [a*2, b*2]

def calculo (a, b):
    return list(a*2, b*2)

def calculo (a, b):
    new_list = []
    new_list.append((a*2, b*2))
    return new_list


def calculo (a, b):
    new_list = []
    new_list.append(a*2)
    new_list.append(b*2)
    return new_list

In [ ]:
calculo(3, 4)

In [ ]:
tupla_2 = (6, 8)

In [ ]:
tupla_2.append(5)

In [ ]:
#Â 1. Convertierlo a una lista

tuple_2 = list(tupla_2)

In [ ]:
tuple_2.append(5)

In [ ]:
tuple_2

In [ ]:
tuple(tuple_2)

Advantages of tuples
 * faster
 * The data cannot be modified
 
It is also possible that we use tuples when we want to return multiple values â€‹â€‹in the `return` of a function

In [ ]:
# LISTAS: []
#Â TUPLAS: ()
#Â SETS: {}

### sets
Sets are used to store multiple elements in a single variable. Unlike lists, they contain single elements and do not have an order.

![sets are venn diagrams](https://mathworld.wolfram.com/images/eps-svg/VennDiagram_900.svg)

In [ ]:
{1, 3, 5, 2}

In [44]:
lista = [90, 1, 10, 34]

In [45]:
# PYTHON: ÃNDICE EMPIEZA EN CERO
lista[1]

1

In [46]:
lista[-1]

34

`add` Adds an element to the set

In [47]:
my_set = set(lista)

In [48]:
my_set

{1, 10, 34, 90}

In [49]:
my_set.add(80)

In [50]:
my_set

{1, 10, 34, 80, 90}

In [51]:
my_set.append(3)

AttributeError: 'set' object has no attribute 'append'

`clear` Clears all elements of the set

In [52]:
a.clear()

AttributeError: 'int' object has no attribute 'clear'

In [53]:
a

10

`copy` Returns a copy of the set

In [54]:
a = my_set.copy()
a

{1, 10, 34, 80, 90}

In [55]:
my_set.add(10)
my_set

{1, 10, 34, 80, 90}

In [56]:
my_set

{1, 10, 34, 80, 90}

In [57]:
a

{1, 10, 34, 80, 90}

`difference()` Returns a set containing the difference between two or more sets. What it actually returns are the elements that are ONLY in the first set.

In [58]:
otro_set = {2, 3, 4, 1, 10, 78}

In [59]:
otro_set

{1, 2, 3, 4, 10, 78}

In [60]:
my_set

{1, 10, 34, 80, 90}

In [61]:
my_set.difference(otro_set)

{34, 80, 90}

In [62]:
tercer_set = my_set.copy()
tercer_set

{1, 10, 34, 80, 90}

In [63]:
tercer_set.add(456)
tercer_set

{1, 10, 34, 80, 90, 456}

In [64]:
tercer_set

{1, 10, 34, 80, 90, 456}

In [65]:
print(my_set)
print(s)
print(otro_set)

{1, 34, 10, 80, 90}
{80, 1, 34, 90, 456, 10}
{1, 2, 3, 4, 10, 78}

In [66]:
tercer_set.difference(otro_set, my_set)

{456}

In [68]:
tercer_set

{1, 10, 34, 80, 90}

`discard` & `remove`: The built-in method, discard() in Python, removes the element from the set only if the element is present in the set. If the element is not present in the set, then no error or exception is raised and the original set is printed.

`discard` Removes the specified element

`remove` Removes the specified element

In [67]:
tercer_set.remove(456)

`intersection()` Returns a set that is the intersection of two or more sets

In [70]:
set_2 = {1, 2, 3, 4, 5}
set_3 = {3, 4, 5, 6, 7}

In [71]:
set_2.intersection(set_3)

{3, 4, 5}

`issubset` Returns whether or not another set contains this set

In [72]:
set_4 = {2, 4, 6}
set_5 = {1, 2, 3, 4, 5, 6}

In [73]:
set_4.issubset(set_5)

True

In [74]:
set_5.issubset(set_4)

False

`issuperset` Returns whether this set contains another set or not

In [75]:
set_4.issuperset(set_5)

False

In [76]:
set_5.issuperset(set_4)

True

`pop` Removes an element from the set. It eliminates the first element of a set and, in addition, it returns it to us. Differentiates from lists that have no parameters to pass an index to

In [77]:
set_5

{1, 2, 3, 4, 5, 6}

In [81]:
numero = set_5.pop()
numero

4

In [82]:
set_5

{5, 6}

`union` Returns a set containing the union of sets

In [83]:
set_4

{2, 4, 6}

In [84]:
set_5

{5, 6}

In [85]:
set_4.union(set_5)

{2, 4, 5, 6}

In [88]:
lista = [1, "MarÃ­a", 2, "MarÃ­a", 4, 4, 4]

In [89]:
set(lista)

{1, 2, 4, 'MarÃ­a'}

`update` Updates the set with another set, or any other iterable. Doesn't return a new one, just update the old one.

In [98]:
set_4.update([100, 90, 90, 90])

In [99]:
set_4

{2, 4, 5, 6, 90, 100}

### Dictionaries

In [ ]:
#Â {key : value, key:value, } -> diccionario
#Â {, , } -> set

In [108]:
compaÃ±era = {
    "nombre": ["MarÃ­a", "MarÃ­a"] ,
    "edad": 30,
    "ciudad": 30
}

In [110]:
compaÃ±era["edad"]

30

In [113]:
dict()

{}

In [117]:
varible = dict()

In [118]:
varible

{}

In [119]:
type(varible)

dict

In [125]:
maria = [30, ["leer", "cocina", "fÃºtbol"]]

In [126]:
laura = ["segovia", 27, ["montaÃ±a", "viajar", "escalada"]]

In [127]:
maria[0]

30

In [128]:
laura[0]

'segovia'

In [132]:
compaÃ±era = {
    "nombre": "MarÃ­a",
    "ciudad": ["ciudad1", "ciudad2", {"key": "value"}],
    "edad": 30
}

In [150]:
compaÃ±era_2 = {
    "nombre": "MarÃ­a",
    "edad": 10,
    "ciudad": ["ciudad1", "ciudad2", {"key": "value"}],
    "DNI": 3456789,
    3456789: [2323, 2323, 3]
}

In [151]:
compaÃ±era_2["DNI"]

3456789

In [152]:
compaÃ±era["edad"]

30

In [139]:
compaÃ±era_2["edad"]

10

In [142]:
compaÃ±era_2[0]

'hsdksdsd'

In [ ]:
#Â en vez de por pÃ¡gina, me busca la palabra

`clear` Removes all elements from the dictionary

In [153]:
#compaÃ±era.clear()

`items()` Returns a list containing one tuple for each key-value pair

In [155]:
list(compaÃ±era.items())

[('nombre', 'MarÃ­a'),
 ('ciudad', ['ciudad1', 'ciudad2', {'key': 'value'}]),
 ('edad', 30)]

`keys` Returns a list of the keys in the dictionary

In [157]:
list(compaÃ±era.keys())

['nombre', 'ciudad', 'edad']

`values` Returns a list of all values â€‹â€‹in the dictionary

In [158]:
list(compaÃ±era.values())

['MarÃ­a', ['ciudad1', 'ciudad2', {'key': 'value'}], 30]

`pop()` Removes the element with the specified key. It returns me the value.

In [159]:
compaÃ±era.pop("edad")

30

In [161]:
compaÃ±era.keys()

dict_keys(['nombre', 'ciudad'])

`popitem` Removes the last inserted key-value pair

In [162]:
compaÃ±era.popitem()

('ciudad', ['ciudad1', 'ciudad2', {'key': 'value'}])

In [163]:
compaÃ±era

{'nombre': 'MarÃ­a'}

In [ ]:
"compaÃ±eraÃ±Ã±Ã±ðŸ˜…"

`update` Updates the dictionary with the specified key-value pairs

In [165]:
compaÃ±era.update({"nombre":"Maria"})

In [166]:
compaÃ±era

{'nombre': 'Maria'}

In [170]:
maria_2 = {'nombre': 'Maria',
          "hobbies":["surf", "pÃ¡del"]}

In [172]:
maria_2["hobbies"].append("otra cosa")

In [174]:
maria_2["hobbies"]

['surf', 'pÃ¡del', 'otra cosa']

In [176]:
dict_ = {
    "edad": 30,
    "ciudad": "Madrid"
}

In [179]:
# CREAR nueva key
dict_["ciudad"] = "CoruÃ±a"

In [ ]:
"dict_['ciudad']"  =>  "Madrid"
"Madrid"           =>   "CoruÃ±a"

In [181]:
dict_["edad"] = 10

In [182]:
dict_

{'edad': 10, 'ciudad': 'CoruÃ±a'}

In [185]:
#Â CREAR UNA KEY NUEVA

dict_["la nueva key"] = "esta"

In [186]:
dict_

{'edad': 10, 'ciudad': 'CoruÃ±a', 'la nueva key': 'esta'}

In [191]:
dict_ = {
    "edad": 18}

In [192]:
for i in range(10):
    dict_["edad"] += i

dict_

{'edad': 63}

In [193]:
dict_["trabajo"] = "cajero"

In [195]:
dict_

{'edad': 63, 'trabajo': 'cajero'}

In [196]:
dict_.update({"hola": "quÃ© tal"})

In [197]:
dict_

{'edad': 63, 'trabajo': 'cajero', 'hola': 'quÃ© tal'}

## Summary
It's your turn, what have we learned today?

In [ ]:
#Â DATA TYPES
    #Â int
    #Â float
    # str
    #Â bool

# DATA STRUCTURES
    # []
    # {:, :}
        #Â keys & values
        #Â estructuras Ãºtiles porque organizan info
            #Â no tienen keys repetidas
            # dict_.keys(), dict_.values(). dict_items()
    # {,} 
        #Â no estÃ¡n repetidos -> pertenencia
    #Â () -> no modificables
        #Â python "under the hood" 
        # ej.: valores diccionarios (lo lee como tuplas)