# Intro Python

![elgif](https://media.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif)

[PEP-8](https://peps.python.org/pep-0008/)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

![otrogif](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Cell-types-in-Jupyter-Notebook" data-toc-modified-id="Cell-types-in-Jupyter-Notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Cell types in Jupyter Notebook</a></span></li><li><span><a href="#Sub-t√≠tulo" data-toc-modified-id="Sub-t√≠tulo-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Sub-t√≠tulo</a></span><ul class="toc-item"><li><span><a href="#Sub-t√≠tulo" data-toc-modified-id="Sub-t√≠tulo-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Sub t√≠tulo</a></span></li><li><span><a href="#Code" data-toc-modified-id="Code-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Code</a></span></li><li><span><a href="#Shortcuts" data-toc-modified-id="Shortcuts-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Shortcuts</a></span></li></ul></li><li><span><a href="#Integer-numbers" data-toc-modified-id="Integer-numbers-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Integer numbers</a></span></li><li><span><a href="#Real-numbers-(floats)" data-toc-modified-id="Real-numbers-(floats)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Real numbers (floats)</a></span></li><li><span><a href="#Basic-operations" data-toc-modified-id="Basic-operations-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Basic operations</a></span><ul class="toc-item"><li><span><a href="#built-in-and-imported-things" data-toc-modified-id="built-in-and-imported-things-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>built-in and imported things</a></span></li></ul></li><li><span><a href="#Strings-(character-strings)" data-toc-modified-id="Strings-(character-strings)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Strings (character strings)</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#icons" data-toc-modified-id="icons-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>icons</a></span></li></ul></li></ul></li><li><span><a href="#Casting-in-Python" data-toc-modified-id="Casting-in-Python-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Casting in Python</a></span><ul class="toc-item"><li><span><a href="#Implicit-conversion" data-toc-modified-id="Implicit-conversion-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Implicit conversion</a></span></li><li><span><a href="#explicit-conversion" data-toc-modified-id="explicit-conversion-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>explicit conversion</a></span><ul class="toc-item"><li><span><a href="#Convert-float-to-int" data-toc-modified-id="Convert-float-to-int-7.2.1"><span class="toc-item-num">7.2.1&nbsp;&nbsp;</span>Convert float to int</a></span></li><li><span><a href="#Convert-a-float-to-a-string" data-toc-modified-id="Convert-a-float-to-a-string-7.2.2"><span class="toc-item-num">7.2.2&nbsp;&nbsp;</span>Convert a float to a string</a></span></li><li><span><a href="#Convert-int-to-str" data-toc-modified-id="Convert-int-to-str-7.2.3"><span class="toc-item-num">7.2.3&nbsp;&nbsp;</span>Convert int to str</a></span></li></ul></li></ul></li><li><span><a href="#Input-and-output-data" data-toc-modified-id="Input-and-output-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Input and output data</a></span><ul class="toc-item"><li><span><a href="#Input" data-toc-modified-id="Input-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Input</a></span></li><li><span><a href="#Print" data-toc-modified-id="Print-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Print</a></span></li></ul></li><li><span><a href="#Format" data-toc-modified-id="Format-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Format</a></span><ul class="toc-item"><li><span><a href="#Format---1" data-toc-modified-id="Format---1-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Format - 1</a></span></li><li><span><a href="#Format---2" data-toc-modified-id="Format---2-9.2"><span class="toc-item-num">9.2&nbsp;&nbsp;</span>Format - 2</a></span></li></ul></li><li><span><a href="#Strings" data-toc-modified-id="Strings-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#String-methods" data-toc-modified-id="String-methods-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>String methods</a></span></li></ul></li><li><span><a href="#Data-structures" data-toc-modified-id="Data-structures-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Data structures</a></span><ul class="toc-item"><li><span><a href="#Lists" data-toc-modified-id="Lists-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>Lists</a></span><ul class="toc-item"><li><span><a href="#list-methods" data-toc-modified-id="list-methods-11.1.1"><span class="toc-item-num">11.1.1&nbsp;&nbsp;</span>list methods</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-11.2"><span class="toc-item-num">11.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#sets" data-toc-modified-id="sets-11.3"><span class="toc-item-num">11.3&nbsp;&nbsp;</span>sets</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-11.4"><span class="toc-item-num">11.4&nbsp;&nbsp;</span>Dictionaries</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

## Cell types in Jupyter Notebook

Esto es una celda de texto

In [10]:
Esto es una celda de texto

SyntaxError: invalid syntax (2101640841.py, line 1)

#¬†T√≠tulo

##¬†Sub-t√≠tulo

###¬†Sub t√≠tulo

[Esto es google](https://www.google.es)

![Esto es una imagen (que no se va a renderizar)](https://m.facebook.com/IronhackSpain/photos/a.644771729221628/1108169482881848/?type=3&source=44&ref=py_c)

### Code

In [23]:
print("Esto es un print")

Esto es un print

In [29]:
print("mi segundo print")

mi segundo print

In [32]:
a = 20

### Shortcuts

To run the cell

- `ctrl + enter`
- `shift + enter` #this one runs the cell and jumps to the next one

- `a` for new cell above
- `b` for new cell below
- `d + d` for shortcut mode

- `m` or `y` for switching between markdwon and code

# Type of data
## Integer numbers

In [2]:
un_entero = 4

In [3]:
un_entero

4

In [4]:
print(un_entero)

4

In [8]:
a = 10
b = 20
a
b # Notebook imprime el √∫ltimo valor

20

In [9]:
a = 10
b = 20
print(a)
b # Notebook imprime el √∫ltimo valor

10

20

In [10]:
type(a)

int

## Real numbers (floats)

In [11]:
a = 12.34

In [12]:
print(a)

12.34

In [13]:
type(a)

float

In [16]:
b = 12.0

In [17]:
#¬†Type(b)

#¬†1. int? 
#¬†2. float?

In [18]:
type(b)

float

In [24]:
a = '10' #str

In [25]:
b = '10.0' #str

In [26]:
c = '10.56' #¬†str

In [30]:
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

## Basic operations

In [31]:
a = 10
b = 3

In [32]:
10 + 3

13

In [33]:
#¬†Suma
a + b

13

In [34]:
# resta

a - b

7

In [37]:
#¬†divisiones 

division = a / b

In [38]:
type(division)

float

In [40]:
#¬†divisiones: floor division: divisi√≥n redondeada hacia abajo

floor_division = a // b
floor_division

3

In [41]:
type(floor_division)

int

In [44]:
#M√≥dulo: resto de la divisi√≥n

a % b

1

In [45]:
a

10

In [46]:
b

3

In [ ]:
# Par / impar -> m√≥dulo (resto)
#¬†Si el resto de una divisi√≥n entre dos es cero: par

In [47]:
list_ = [1, 2, 3, 4, 5, 6]

for i in list_:
    if i % 2 == 0:
        print(f"El numero {i} es par")
    else:
        print(f"El numero {i} NO es par")

El numero 1 NO es par
El numero 2 es par
El numero 3 NO es par
El numero 4 es par
El numero 5 NO es par
El numero 6 es par

###¬†built-in and imported things

methods = functions = things that do things

- print is a method
- sum is a method

some are built-in into python version
asome need to be imported

In [8]:
# pip/conda install something (library)
#¬†import the library

In [48]:
import math

In [49]:
math.floor(8789.098767)

8789

In [50]:
print("Se llama built-in")

Se llama built-in

In [51]:
"Esto es una string".upper()

'ESTO ES UNA STRING'

## Strings (character strings)

In [52]:
"Esto es una string"

'Esto es una string'

In [54]:
'Esto es una string con comillas simples'

'Esto es una string con comillas simples'

In [56]:
"Esto es una string con comillas simples" #End Of Line

'Esto es una string con comillas simples'

In [58]:
esto_es_string_tambien = "4"
esto_es_string_tambien

'4'

In [59]:
type(esto_es_string_tambien)

str

In [62]:
"Esto es una string 
con varias lineas"

SyntaxError: EOL while scanning string literal (3033280629.py, line 1)

In [63]:
"""
Esto es una string
con varias lineas"""

'\nEsto es una string\ncon varias lineas'

In [64]:
print("""
Esto es una string
con varias lineas""")

Esto es una string
con varias lineas

####¬†icons

In [65]:
"üòç" #emojis -> son strings

'üòç'

In [66]:
cara_corazones = "üòç"

In [68]:
cara_corazones

'üòç'

In [67]:
type(cara_corazones)

str

## Casting in Python

In [11]:
# int
#¬†floats
#¬†str

In [69]:
a = " sdsds"

In [70]:
a = 10

Casting means converting one data type to another. We have previously seen types such as int, string or float. Well, it is possible to convert from one type to another.
But first of all, let's see the different types of cast or type conversion that can be done. There are two:

**Implicit conversion:** This is done automatically by Python. It occurs when we perform certain operations with two different types.

**Explicit conversion:** We do this explicitly, such as converting str to int with str().

### Implicit conversion
This type conversion is done automatically by Python, practically without our realizing it. Still, it's important to know what's going on underneath to avoid future problems.

The simplest example where we can see this behavior is the following:

- a is an int
- b is a float

But if we add a and b and store the result in a, we can see how internally Python has converted the int to float to perform the operation, and the resulting variable is float.
However, there are other cases where Python is not as smart and is not capable of performing the conversion. If we try to add an int to a string, we will get a TypeError.

In [77]:
a = 10

In [78]:
b = 10.0

In [79]:
c = a + b

In [81]:
c

20.0

In [80]:
type(c)

float

### explicit conversion
On the other hand, we can make conversions between types or castings explicitly using different functions provided by Python. The most used are the following:

`float(), str(), int(), list(), set()`

#### Convert float to int
To convert from float to int we must use int(). But be careful, because the integer type cannot store decimals, so we will lose whatever is after the decimal point.

In [83]:
a = 10.0

In [85]:
type(a)

float

In [86]:
a = int(a)

In [87]:
a

10

In [88]:
type(a)

int

#### Convert a float to a string
We can convert a float to a string with str(). We can see in the following code how the type of a changes after the cast.

In [89]:
float("Esta string")

ValueError: could not convert string to float: 'Esta string'

In [90]:
str(0.9)

'0.9'

In [92]:
float("4.0")

4.0

In [93]:
int("45678")

45678

In [94]:
int("45678i")

ValueError: invalid literal for int() with base 10: '45678i'

#### Convert int to str
Like the conversion to float above, we can convert from string to int using int().

## Input and output data
### Input
To assign a variable to a value entered by the user at the console, use the statement
``python
input(message) : Displays the message of the string by the terminal and returns a string with the input
  ```

In [95]:
saludo = input()

azsxdfghjkl65678

In [96]:
saludo

'azsxdfghjkl65678'

In [97]:
saludo = input(prompt = "Esto es el prompt")

Esto es el promptHola

In [98]:
nombre = input("Escribe aqu√≠ tu nombre: ")

Escribe aqu√≠ tu nombre: Fer

In [99]:
nombre

'Fer'

In [100]:
number = input("Escribe aqu√≠ tu n√∫mero: ")

Escribe aqu√≠ tu n√∫mero: 8

In [101]:
number

'8'

In [105]:
number * 10

'8888888888'

In [106]:
number / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [107]:
numero = int(input("Escribe aqu√≠ tu n√∫mero: "))

Escribe aqu√≠ tu n√∫mero: 8

In [112]:
numero = int(input("Escribe aqu√≠ tu n√∫mero: "))
numero

Escribe aqu√≠ tu n√∫mero: 10

10

In [113]:
type(numero)

int

In [115]:
int(numero / 2)

5

In [110]:
#¬†Anticipar un posible problema -> Programaci√≥n defensiva
    #¬†Asegurarme que el n√∫mero es un entero
    #¬†L√≥gica: if/else
    #¬†Gesti√≥n errores:
       #¬†Forzar error
        #¬†Prevenir que salte: try / except

### Print
The print() function prints the specified message to the screen, or to another standard output device.

The message can be a string, or any other object, the object will be converted to a string before being written to the screen.

In [ ]:
#¬†NUESTRO AMIGO

#¬†debugear -> buscar el error

In [116]:
print("Esto es un print")

Esto es un print

In [118]:
a

0

In [117]:
a = 0

In [129]:
def suma (a, b):
    return a + b

In [130]:
suma(2, 3)

5

In [131]:
resultado = suma(2, 3)
resultado

5

In [132]:
type(resultado)

int

In [133]:
def suma (a, b):
     print(a + b)
        #¬†NONE

In [134]:
resultado = suma(2, 3)
resultado

5

In [135]:
type(resultado)

NoneType

In [136]:
#¬†Imprime en pantalla
# PERO NO DEVUELVE NADA

## Format

### Format - 1

In [141]:
string = "Una CADENA de caracteres"

In [144]:
nombre = "Laura"

In [152]:
edad = 30

In [153]:
f"Mi nombre es {nombre} y mi edad es {edad}"

'Mi nombre es Laura y mi edad es 30'

### Format - 2

In [154]:
nombre = "Laura"

In [155]:
edad = 30

In [156]:
"Mi nombre es {} y mi edad es {}".format(nombre, edad)

'Mi nombre es Laura y mi edad es 30'

In [157]:
list_ = [1, 2, 3, 4]

In [160]:
f"Esta es una lista {list_}"

'Esta es una lista [1, 2, 3, 4]'

## Strings

### String methods
Methods are actions or functions that an object can perform. Just as Python offers a series of ‚Äúbuilt-in‚Äù functions, it also offers us a set of already created methods. These methods depend on the type of object we are working with.

In [162]:
una_string = "esto es una frase"

In [165]:
una_string.capitalize() #¬†Al llamar a una funci√≥n
#¬†pasamos los par√©ntesis

'Esto es una frase'

In [166]:
"Esto es una frase"

'Esto es una frase'

In [167]:
una_string

'esto es una frase'

In [ ]:
# RETURNS A COPY

In [168]:
otra_string = "esto es una frase".capitalize()

In [169]:
otra_string

'Esto es una frase'

In [171]:
una_string = "esto es una frase"

In [175]:
una_string = "esto es una frase".capitalize()

In [176]:
una_string

'Esto es una frase'

We are going to explain in class some of the most used methods during bootcamp, keep in mind that you always have to keep in mind the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods )

`capitalize` Returns a copy of the string with its first character uppercase and the rest lowercase.

`upper` Returns a copy of the string with all characters in uppercase

In [177]:
"esto es una frase".upper()

'ESTO ES UNA FRASE'

`isupper` Returns True if all uppercase characters in the string are uppercase and there is at least one uppercase character, False otherwise.

In [180]:
"TODO EN MAY√öSCULA".isupper()

True

In [181]:
"TODO EN mAY√öSCULA".isupper()

False

`lower` Returns a copy of the string with all lowercase characters

In [183]:
"TODO EN mAY√öSCULA".lower()

'todo en may√∫scula'

`islower` is like isupper but....we check for lowercase

In [182]:
"TODO EN MAY√öSCULA".islower()

False

`swapcase` Returns a copy of the string with uppercase characters converted to lowercase and vice versa.

In [184]:
"TODO EN mAY√öSCULA".swapcase()

'todo en May√∫scula'

`title` Returns an uppercase version of the string in which words start with an uppercase character and all other characters are lowercase.

In [185]:
"TODO EN mAY√öSCULA".title()

'Todo En May√∫scula'

`join(iterable)`

Returns a string that is the concatenation of the strings in the iterable. A TypeError will be raised if there are any non-string values ‚Äã‚Äãin the iterable, including bytes objects. The separator between elements is the string provided by this method.

In [190]:
list_ = ["un elemento", "otro elemento", "6", "7", "10"]

In [196]:
"887".join(list_)

'un elemento887otro elemento8876887788710'

`startswith` Returns True if the string starts with the prefix, otherwise returns False. prefix can also be a tuple of prefixes to search for. With optional start, check the string starting at that position. With optional end, stop matching the string at that position.

In [198]:
phone_num = "6000000000"

In [200]:
phone_num.startswith("+")

False

In [201]:
phone_num = "+346000000000"

In [202]:
phone_num.startswith("+")

True

In [204]:
nombre_andrea = "Andrea"

In [207]:
nombre_andrea.startswith("a")

False

In [208]:
nombre_andrea.startswith("A") #¬†case sensitive

True

`endswith` Returns True if the string ends with the specified suffix, otherwise returns False.

`str.lstrip([chars])`
Returns a copy of the string with the leading characters removed. The chars argument is a string that specifies the set of characters to remove. If omitted or none present, the chars argument removes whitespace by default. The chars argument is not a prefix, but all combinations of its values ‚Äã‚Äãare removed:

In [209]:
otra_string_m√°s = " esto es otra string :_) "

In [210]:
otra_string_m√°s.lstrip()

'esto es otra string :_) '

In [211]:
otra_string_m√°s.rstrip()

' esto es otra string :_)'

In [213]:
otra_string_m√°s.strip() # por defecto izq & dcha

'esto es otra string :_)'

In [214]:
otra_string_m√°s = "esto es otra string :_) "
otra_string_m√°s.strip()

'esto es otra string :_)'

`lstrip` and `rstrip` do the same thing but with leading and trailing spaces

`str.replace(old, new[, count])`
Returns a copy of the string with all occurrences of the substring old replaced by new. If the optional count argument is given, only the first occurrences of count are replaced.

In [215]:
" vbhjk l67 890 ".replace(" ", "")

'vbhjkl67890'

In [216]:
" vbhjk l67 890 ".replace(" ", "-")

'-vbhjk-l67-890-'

In [217]:
"-".join(["lista", "de", "strings"])

'lista-de-strings'

`str.split(sep=None)`
Returns a list of the words in the string, using sep as the delimiter string.

In [218]:
'lista-de-strings'.split("-") #El separador no me lo devuelve

['lista', 'de', 'strings']

In [219]:
'lista de strings'.split(" ")

['lista', 'de', 'strings']

In [223]:
'lista-de-strings '.replace("-", " ").rstrip().capitalize() + "."

'Lista de strings.'

In [226]:
"lista de strings".replace(" ", "").split(" ")

['listadestrings']

In [224]:
# pod√©is poner diferentes replace
#¬†cuidado con el orden

In [229]:
# MINI RECAP

#¬†Data types
    #¬†int: n√∫meros sin decimales, sin comillas
    #¬†floats: n√∫meros con decimales, INCLUSO SI SON CERO
    #¬†strings: con comillas. son texto. reciben todo. 
        # "", "' -> si las comillas no coinciden, error (EOL, esperaba algo m√°s :/)
        # """Comentarios multi-l√≠nea"""
        #¬†Format:
            #f"Contenido string {variable}"
            #"Contenido string {}".format(variable)
        #¬†M√©todos (built-in): muchos
         #¬†upper, lower, isupper(), islower(), capitalize(), strip()
        #¬†LA MAYOR√çA DEVUELVEN COPIAS: si no lo guardamos s√≥lo lo vemos
        #¬†Sabemos que son m√©todos porque llevan par√©ntesis
    
    #¬†cast: cambiar el tipo de dato
        #¬†impl√≠cita: lo hace python
        #¬†expl√≠cita: forzamos utilizando: float(3), str(4), int("3")
    
   # programci√≥n defensiva: anticipar un problema y adelantarnos 
    
# Input
    #¬†guardar el contenido que recibimos como una string

#¬†notebooks
    #¬†dos tipos de celda: markdown (lenguaje de texto) & c√≥digo (c√≥digo)
    #¬†KERNEL: la memoria de trabajo. la memoria temporal, cach√©
        #¬†hemos sobre-escrito una variable
        #¬†no en contramos el error, etc
        #¬†import librer√≠a -> no funciona pero est√°
        #¬†PARAR EJECUCI√ìN: loop infinito

In [227]:
# DEFINIR
def funciones (): 
    """Hacen cosas: llevan par√©ntesis detr√°s"""
    return 

#¬†LLAMAR
funciones()

## Data structures
There are 4 elements in python that allow us to store collections of data.
- Lists
- Tuples
- sets
- Dictionaries

In [230]:
a = "sdsdsd"

In [234]:
a

'sdsdsd'

In [232]:
a.upper()

'SDSDSD'

In [233]:
"sdsdsd".upper()

'SDSDSD'

### Lists

Lists can contain different types of data

In [235]:
list_ = [1, 2.0, "una string", [1,2,45]]

In [236]:
list_

[1, 2.0, 'una string', [1, 2, 45]]

In [238]:
list_1 = [1]
list_1

[1]

#### list methods
`append` Adds an item to the end of the list.

In [241]:
#list

In [239]:
list_ #¬†palabra reservada

[1, 2.0, 'una string', [1, 2, 45]]

In [246]:
list_.append("sd") # S√≠ se ve modificado, no devuelve copia

In [247]:
list_

[1, 2.0, 'una string', [1, 2, 45], 'sd', 'sd', 'sd']

In [248]:
list_.append(4)

In [249]:
list_

[1, 2.0, 'una string', [1, 2, 45], 'sd', 'sd', 'sd', 4]

In [250]:
list_.append([3])

In [251]:
list_

[1, 2.0, 'una string', [1, 2, 45], 'sd', 'sd', 'sd', 4, [3]]

In [253]:
for i in list_:
    print(f"El elemento es {i}, y el tipo es: {type(i)}")

El elemento es 1, y el tipo es: <class 'int'>
El elemento es 2.0, y el tipo es: <class 'float'>
El elemento es una string, y el tipo es: <class 'str'>
El elemento es [1, 2, 45], y el tipo es: <class 'list'>
El elemento es sd, y el tipo es: <class 'str'>
El elemento es sd, y el tipo es: <class 'str'>
El elemento es sd, y el tipo es: <class 'str'>
El elemento es 4, y el tipo es: <class 'int'>
El elemento es [3], y el tipo es: <class 'list'>

In [255]:
list_.append([3, 4, 5])

In [256]:
list_

[1, 2.0, 'una string', [1, 2, 45], 'sd', 'sd', 'sd', 4, [3], [3, 4, 5]]

`extend` Extend the list by adding all the items in the iterable to it

In [260]:
list_.extend([3, 4, 5]) #¬†Docstring: Extend list by appending elements from the iterable.

In [258]:
list_

[1,
 2.0,
 'una string',
 [1, 2, 45],
 'sd',
 'sd',
 'sd',
 4,
 [3],
 [3, 4, 5],
 3,
 4,
 5]

In [259]:
print(list_)

[1, 2.0, 'una string', [1, 2, 45], 'sd', 'sd', 'sd', 4, [3], [3, 4, 5], 3, 4, 5]

In [263]:
list_.extend(" 2 3")

In [265]:
print(list_)

[1, 2.0, 'una string', [1, 2, 45], 'sd', 'sd', 'sd', 4, [3], [3, 4, 5], 3, 4, 5, 3, 4, 5, '1', '2', '3', '4', '5', ' ', '2', ' ', '3']

In [268]:
un_iterable = " 2 3"

In [269]:
new_list = []

In [270]:
for i in un_iterable:
    new_list.append(i)

In [271]:
new_list

[' ', '2', ' ', '3']

`insert` Inserts an item at a given position. The first argument is the index of the item to be inserted before, so a.insert(0, x) inserts at the beginning of the list and a.insert(len(a), x) is equivalent to a.append(x ).

In [274]:
len("ssdsdsdsds sdsdds")

17

In [276]:
print(new_list)

[' ', '2', ' ', '3']

In [280]:
new_list[3] #¬†El primer elemento se corresponde con el √çNDICE cero

'3'

In [282]:
# Los iterables tienen elementos que ocupan una posici√≥n

In [283]:
print(list_)

[1, 2.0, 'una string', [1, 2, 45], 'sd', 'sd', 'sd', 4, [3], [3, 4, 5], 3, 4, 5, 3, 4, 5, '1', '2', '3', '4', '5', ' ', '2', ' ', '3']

In [284]:
list_.insert(1, "HOLA")

In [286]:
list_[1]

'HOLA'

In [ ]:
# por defecto el append lo pone el √∫ltimo

`remove` Removes the first item in the list whose value is x. Throws a ValueError if no such item exists.

In [299]:
nombres = ["Mar√≠a", "Laura", "Valent√≠n", "Laura", "Natalia"]
nombres

['Mar√≠a', 'Laura', 'Valent√≠n', 'Laura', 'Natalia']

In [298]:
new_list = []
for i in nombres:
    if i != "Laura":
        new_list.append(i)
new_list

['Mar√≠a', 'Valent√≠n', 'Natalia']

In [300]:
nombres.count("Laura")

2

In [295]:
nombres.remove("Mar√≠a")

In [296]:
nombres

['Valent√≠n', 'Natalia']

`pop` Pops the item at the given position from the list and returns it. If no index is specified, a.pop() pops and returns the last element in the list.

In [326]:
nombres = ["Mar√≠a",  "Valent√≠n", "Laura", "Natalia"]

In [323]:
el_nombre = nombres.pop().upper().replace("A", "üòÄ").strip()
el_nombre

'LüòÄURüòÄ'

In [327]:
nombres[-2]

'Laura'

In [328]:
el_nombre = nombres.pop(-2)

In [329]:
el_nombre

'Laura'

In [330]:
nombres

['Mar√≠a', 'Valent√≠n', 'Natalia']

In [332]:
nombres.index('Valent√≠n') #Return first index of value.

1

In [335]:
for i in nombres:
    print(f"El elemento {i} ocupa la posici√≥n {nombres.index(i)}")
print(f"La longitud total de la lista es {len(nombres)}")

El elemento Mar√≠a ocupa la posici√≥n 0
El elemento Valent√≠n ocupa la posici√≥n 1
El elemento Natalia ocupa la posici√≥n 2
La longitud total de la lista es 3

In [ ]:
#¬†Q: si quiero ver el √≠ndice de todos
#¬†Existe un par√°metro que me dice el start (tomar como referencia el anterior)

`clear` Removes all elements from the list

In [336]:
list_.clear()

In [337]:
list_

[]

`count` Returns the number of times x appears in the list.

In [338]:
nombres.count("Laura")

0

`list.sort()` See also [sorted()](https://docs.python.org/3/howto/sorting.html).

`list.reverse()`
Reverses list items in place.

In [339]:
nombres.reverse()

In [340]:
nombres

['Natalia', 'Valent√≠n', 'Mar√≠a']

`slicing` is not a method as such, but we can play with the elements of the lists and their positions

In [347]:
nombres[2:]

['Mar√≠a']

In [348]:
nombres.extend(nombres)

In [349]:
nombres

['Natalia', 'Valent√≠n', 'Mar√≠a', 'Natalia', 'Valent√≠n', 'Mar√≠a']

In [351]:
nombres[4:]

['Valent√≠n', 'Mar√≠a']

In [353]:
nombres[::-1]

['Mar√≠a', 'Valent√≠n', 'Natalia', 'Mar√≠a', 'Valent√≠n', 'Natalia']

`start, stop, step`

In [370]:
lista_numeros = ["sdsd", "sesdsd", "sdsds", 3, 4, 5, 6, 7, "posicion 8", "posicion 10", "posicion 11", 11, 12, 13]
lista_numeros

['sdsd',
 'sesdsd',
 'sdsds',
 3,
 4,
 5,
 6,
 7,
 'posicion 8',
 'posicion 10',
 'posicion 11',
 11,
 12,
 13]

In [371]:
lista_numeros[0:10:2]

['sdsd', 'sdsds', 4, 6, 'posicion 8']

### Tuples

Tuples in Python are a data type or structure that allows you to store data in much the same way as lists, except that they are immutable. So we will not be able to:
 - change your items
 - add new values

Advantages of tuples
 * faster
 * The data cannot be modified
 
It is also possible that we use tuples when we want to return multiple values ‚Äã‚Äãin the `return` of a function

### sets
Sets are used to store multiple elements in a single variable. Unlike lists, they contain single elements and do not have an order.

![sets are venn diagrams](https://mathworld.wolfram.com/images/eps-svg/VennDiagram_900.svg)

`add` Adds an element to the set

`clear` Clears all elements of the set

`copy` Returns a copy of the set

`difference()` Returns a set containing the difference between two or more sets. What it actually returns are the elements that are ONLY in the first set.

`discard` & `remove`: The built-in method, discard() in Python, removes the element from the set only if the element is present in the set. If the element is not present in the set, then no error or exception is raised and the original set is printed.

`discard` Removes the specified element

`remove` Removes the specified element

`intersection()` Returns a set that is the intersection of two or more sets

`issubset` Returns whether or not another set contains this set

`issuperset` Returns whether this set contains another set or not

`pop` Removes an element from the set. It eliminates the first element of a set and, in addition, it returns it to us. Differentiates from lists that have no parameters to pass an index to

`union` Returns a set containing the union of sets

`update` Updates the set with another set, or any other iterable. Doesn't return a new one, just update the old one.

### Dictionaries

`clear` Removes all elements from the dictionary

`items()` Returns a list containing one tuple for each key-value pair

`keys` Returns a list of the keys in the dictionary

`values` Returns a list of all values ‚Äã‚Äãin the dictionary

`pop()` Removes the element with the specified key. It returns me the value.

`popitem` Removes the last inserted key-value pair

`update` Updates the dictionary with the specified key-value pairs

## Summary
It's your turn, what have we learned today?