In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np
from sklearn.linear_model import LinearRegression
import os
from sys import platform

 Table

# Instructions

1. Load the `train.csv` file
2. Explore the data, understand it
3. Process it for future training
4. Do train, test, split for your `train.csv` file
5. `fit/train` a model from your cleaned_train_df
-----
5. Load the `test.csv` file
6. Apply the same processing you did to `train.csv` into `test.csv`
7. `predict` the price for that file
8. Only keep the columns you need
9. Export
-----
10. Repeat! ðŸš€ðŸ”¥

#Â Import the csv files

In [2]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [3]:
df_train.sample()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
38688,38688,2.02,Premium,H,VS2,62.7,53.0,8.02,7.95,0.0,9.81

In [4]:
df_test.sample()

        id  carat    cut color clarity  depth  table     x     y     z
7436  7436   0.55  Ideal     G    VVS1   62.6   56.0  5.24  5.27  3.29

In [5]:
df_train.shape

(40455, 11)

In [6]:
df_test.shape

(13485, 10)

In [7]:
#SUBMISSION -> test

In [8]:
print(df_train.shape[0])
df_train.sample()

40455

,id,carat,cut,color,clarity,depth,table,x,y,z,price
2440,2440,0.51,Premium,E,SI1,61.8,58.0,5.15,5.11,3.17,7.274

In [9]:
print(df_test.shape[0])
df_test.sample()

13485

        id  carat   cut color clarity  depth  table     x    y     z
6969  6969    1.0  Fair     F     VS2   68.4   58.0  5.97  6.1  4.13

#Â Cleaning, processing, feature selection, etc

In [10]:
#Â Processing is necessary, otherwise we won't be able to fit a model
#Â For the sake of the example, we'll just drop categorical columns

df_train_cleaned = df_train.select_dtypes(exclude='object')
print(df_train_cleaned.shape[0])
df_train_cleaned

40455

          id  carat  depth  table     x     y     z  price
0          0   1.02   63.2   58.0  6.36  6.40  4.03  8.928
1          1   0.35   61.0   57.0  4.54  4.57  2.77  6.477
2          2   0.31   60.5   58.0  4.43  4.40  2.67  6.810
3          3   0.38   61.4   56.0  4.66  4.69  2.87  6.824
4          4   1.64   61.8   56.0  7.59  7.60  4.69  9.776
...      ...    ...    ...    ...   ...   ...   ...    ...
40450  40450   1.20   62.2   55.0  6.77  6.81  4.23  9.149
40451  40451   1.50   64.2   56.0  7.30  7.09  4.62  9.077
40452  40452   1.06   61.9   55.0  6.54  6.58  4.06  8.892
40453  40453   0.31   60.1   58.0  4.40  4.38  2.64  6.385
40454  40454   2.00   60.8   58.0  7.99  8.07  4.88  9.455

[40455 rows x 8 columns]

#Â Train on train.csv

![](https://builtin.com/sites/www.builtin.com/files/styles/ckeditor_optimize/public/inline-images/4_train-test-split.jpg)

## Train, test split

In [11]:
X = df_train_cleaned.iloc[:,:-1]
y = df_train_cleaned['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.35)

##Â Fit

In [12]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

#Â Just for feedback
if platform == "darwin":
    os.system("say I'm done training")

sh: -c: line 0: unexpected EOF while looking for matching `''
sh: -c: line 1: syntax error: unexpected end of file

In [13]:
y_pred = regressor.predict(X_test)

In [14]:
np.sqrt(mean_squared_error(y_pred, y_test))

0.2723706311520958

-----
-----
-----
-----

#Â Applying same cleaning & processing to my `test.csv`

In [15]:
df_test

          id  carat        cut color clarity  depth  table     x     y     z
0          0   0.81      Ideal     F     SI1   61.5   57.0  6.01  6.06  3.71
1          1   0.50       Fair     F      I1   63.8   58.0  5.08  4.97  3.21
2          2   0.31      Ideal     D    VVS2   60.1   56.0  4.43  4.46  2.67
3          3   1.52       Fair     I     SI2   64.7   58.0  7.19  7.22  4.66
4          4   0.35    Premium     D    VVS1   60.8   58.0  4.55  4.53  2.76
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
13480  13480   0.52      Ideal     D    VVS2   61.4   56.0  5.23  5.20  3.20
13481  13481   1.01  Very Good     E     VS2   59.3   59.0  6.50  6.56  3.87
13482  13482   1.50    Premium     H     VS2   60.6   61.0  7.34  7.31  4.44
13483  13483   0.40      Ideal     E    VVS2   62.5   54.0  4.75  4.76  2.97
13484  13484   2.01    Premium     H     VS2   61.6   61.0  8.14  8.07  4.99

[13485 rows x 10 columns]

In [17]:
df_test_cleaned = df_test.select_dtypes(exclude='object')
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

      id  carat  depth  table     x     y     z
628  628   0.36   62.3   58.0  4.51  4.55  2.82

#Â Predict on the `test.csv`

In [18]:
y_pred = regressor.predict(df_test_cleaned)
y_pred

#Â Just for feedback
if platform == "darwin":
    os.system("say -v Monica ayam don predictin")

Voice `Monica' not found.

In [19]:
y_pred

array([8.11869958, 7.27747776, 6.58863137, ..., 9.09011367, 6.98206203,
       9.66781596])

#Â DF with two columns

In [20]:
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

        id  carat  depth  table     x     y     z
7512  7512   0.52   62.6   57.0  5.15  5.11  3.21

In [21]:
df_test_cleaned['price'] = y_pred # Adding the predicted price
df_for_submission = df_test_cleaned[["id", "price"]] # Modifying for subnmission

In [23]:
print(df_for_submission.shape[0])
df_for_submission.sample()

13485

        id     price
5286  5286  6.884808

#Â Export (index=False)

In [24]:
df_for_submission.to_csv("my_submission.csv", index=False)

#Â Just for feedback
if platform == "darwin":
    os.system("say redi for submission")

In [25]:
df_for_submission.head()

   id     price
0   0  8.118700
1   1  7.277478
2   2  6.588631
3   3  9.048430
4   4  6.692487

- Training & testing
    - Pre-process on df_train
    - Fit on df_train to get the model
    - Look at the error

- Predicting
    - Pre-process on df_test
    - Generate y_pred = price on df_test

- Submission
    - Create a DF with only ID & price