In [3]:
import pandas as pd
df = pd.DataFrame(
        {'A':['a1','b2','c3']
    })
df

    A
0  a1
1  b2
2  c3

In [5]:
df["just the number"] = df['A'].str.extract('[ab](\d+)', expand=False)
df

    A just the number
0  a1               1
1  b2               2
2  c3             NaN

In [6]:
df[["first_group", "second_group"]] = df['A'].str.extract('([ab])(\d+)') 
df

    A just the number first_group second_group
0  a1               1           a            1
1  b2               2           b            2
2  c3             NaN         NaN          NaN