<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-aggregation" data-toc-modified-id="Data-aggregation-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data aggregation</a></span><ul class="toc-item"><li><span><a href="#groupby" data-toc-modified-id="groupby-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>groupby</a></span><ul class="toc-item"><li><span><a href="#groupby-&amp;-aggregate" data-toc-modified-id="groupby-&amp;-aggregate-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>groupby &amp; aggregate</a></span></li></ul></li><li><span><a href="#Pivot-Tables" data-toc-modified-id="Pivot-Tables-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Pivot Tables</a></span></li><li><span><a href="#Differences-between-pivot-table-and-groupby-function" data-toc-modified-id="Differences-between-pivot-table-and-groupby-function-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Differences between pivot table and groupby function</a></span></li><li><span><a href="#crosstab" data-toc-modified-id="crosstab-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>crosstab</a></span></li></ul></li><li><span><a href="#Data-combination:-mixing-dataframes" data-toc-modified-id="Data-combination:-mixing-dataframes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data combination: mixing dataframes</a></span><ul class="toc-item"><li><span><a href="#Concat:-two-things-together" data-toc-modified-id="Concat:-two-things-together-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Concat: two things together</a></span><ul class="toc-item"><li><span><a href="#Concatenating-on-axis-0-(rows)" data-toc-modified-id="Concatenating-on-axis-0-(rows)-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Concatenating on axis 0 (rows)</a></span></li><li><span><a href="#Concatenating-on-axis-1-(columns)" data-toc-modified-id="Concatenating-on-axis-1-(columns)-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Concatenating on axis 1 (columns)</a></span></li></ul></li><li><span><a href="#Merge:-related-columns" data-toc-modified-id="Merge:-related-columns-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Merge: related columns</a></span><ul class="toc-item"><li><span><a href="#LEFT-Merge" data-toc-modified-id="LEFT-Merge-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>LEFT Merge</a></span></li><li><span><a href="#RIGHT-Merge" data-toc-modified-id="RIGHT-Merge-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>RIGHT Merge</a></span></li><li><span><a href="#INNER-Merge" data-toc-modified-id="INNER-Merge-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>INNER Merge</a></span></li><li><span><a href="#OUTER-Merge" data-toc-modified-id="OUTER-Merge-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>OUTER Merge</a></span></li></ul></li><li><span><a href="#Merging-&amp;-Concatenating-in-two-different-columns" data-toc-modified-id="Merging-&amp;-Concatenating-in-two-different-columns-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Merging &amp; Concatenating in two different columns</a></span><ul class="toc-item"><li><span><a href="#Concatenating-in-two-different-columns" data-toc-modified-id="Concatenating-in-two-different-columns-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Concatenating in two different columns</a></span></li><li><span><a href="#Merging-in-two-different-columns" data-toc-modified-id="Merging-in-two-different-columns-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Merging in two different columns</a></span></li></ul></li><li><span><a href="#Join:-relating-index" data-toc-modified-id="Join:-relating-index-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Join: relating index</a></span></li><li><span><a href="#Differences-between-join-&amp;-merge" data-toc-modified-id="Differences-between-join-&amp;-merge-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Differences between join &amp; merge</a></span></li></ul></li><li><span><a href="#Pandas-usual-methods" data-toc-modified-id="Pandas-usual-methods-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pandas usual methods</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

![](https://miro.medium.com/max/1400/1*6d5dw6dPhy4vBp2vRW6uzw.webp)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("../datasets/employees.csv")

## Data aggregation

`groupby, pivot table & cross_tab`

### groupby
Pandas GroupBy is a powerful and versatile function in Python. It allows us to split your data into separate groups to perform calculations for better analysis.
A DataFrame can be grouped on its rows (axis=0) or on its columns (axis=1). Once this is done, a function is applied to each group, producing a new value. Finally, the results of all those function applications are combined into a result object. The shape of the resulting object will usually depend on what is done with the data.

`df[subset].groupby(category).aggregation()`

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

`groupby the departments and their mean age`

`groupby the departments and their maximum age`

`groupby the departments and their min age`

`groupby: 2+`: Different Education Fields and their Mean Salaries in each of the Department

`more fields`

#### groupby & aggregate

Another way to groupby with agg syntax
https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html

- mean
- sum
-count

Suppose we want to calculate the mean of column data1 using the labels of key1. There are several ways to do it. One is to access data1 and call groupby with the column (a String) in key1.
The data (a Series) has been aggregated based on the group key, producing a new String that is now indexed by the unique values ​​of the key1 column. The resulting index has the name 'key1' because the DataFrame column `df['key1']` did.

### Pivot Tables

[groupby vs pivot table](https://towardsdatascience.com/a-comparison-of-groupby-and-pivot-in-pythons-pandas-module-527909e78d6b?source=userActivityShare-4c6d9a33c6-1674605913&_branch_match_id=1146490620103499300&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXz8nMy9bLTU3JLM3VS87P1TfKCvCtKvOvCCpPAgAN4ht%2FIwAAAA%3D%3D)

```pivot_table(df, values=None, index=None, columns=None, aggfunc='mean', ...)```

* We can create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame.

`pivot table`: the department and their mean ages

`pivot table`: the department and their max ages

`pivot table`: the department and their min ages

`pivot table`: the department and their median age

`multi-index pivot table`: Department and Education Field and check the maximum salary values of employees

### Differences between pivot table and groupby function

`groupby`: team mean age by team abbreviation & season.

`pivot_table`: team mean age by team abbreviation & season.

### crosstab

* Compute a simple cross tabulation of two (or more) factors. By default computes a frequency table of the factors unless an array of values and an aggregation function are passed. Usually used to see the frequency of two qualitative variables: how many times the value of one column happens in the other one

```pd.crosstab(df[column1], df[column2])```

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Data combination: mixing dataframes

- https://realpython.com/pandas-merge-join-and-concat/
- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

### Concat: two things together
We join dataframes along axis 0 one below the other. Align columns by label.

#### Concatenating on axis 0 (rows)

#### Concatenating on axis 1 (columns)

![sql joins](https://upload.wikimedia.org/wikipedia/commons/9/9d/SQL_Joins.svg)

### Merge: related columns

[Merge()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) is most useful when you want to merge rows that share data.

In [ ]:
from IPython.display import display_html

In [ ]:
df1 = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)


df2 = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

df3 = pd.DataFrame(
    {
        "key1": ["K90", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K5", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "Y": ["D0", "D70", "D2", "D5"],
    }
)

In [ ]:
df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
display_html(df1_styler._repr_html_() + " " + df2_styler._repr_html_(), raw=True)

In [ ]:
# merge, default is inner

result = pd.merge(df1, df2)
result

#### LEFT Merge

In [ ]:
left_merge = pd.merge(df1, df2, how="left")


df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
left_merge = left_merge.style.set_table_attributes("style='display:inline'").set_caption("left_merge")

display_html(df1_styler._repr_html_() +  " " + df2_styler._repr_html_(), raw=True)

In [ ]:
display_html(left_merge._repr_html_(), raw=True)

#### RIGHT Merge

In [ ]:
right_merge = pd.merge(df1, df2, how="right")


df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
right_merge = right_merge.style.set_table_attributes("style='display:inline'").set_caption("right_merge")

display_html(df1_styler._repr_html_() + " " + df2_styler._repr_html_(),raw=True)

In [ ]:
display_html(right_merge._repr_html_(), raw=True)

#### INNER Merge

In [ ]:
inner_merge = pd.merge(df1, df2, how="inner")


df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
inner_merge = inner_merge.style.set_table_attributes("style='display:inline'").set_caption("inner_merge")

display_html(df1_styler._repr_html_() +  " " + df2_styler._repr_html_(), raw=True)

In [ ]:
display_html(inner_merge._repr_html_(), raw=True)

#### OUTER Merge

In [ ]:
outer_merge = pd.merge(df1, df2, how="outer")

df1_styler = df1.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2.style.set_table_attributes("style='display:inline'").set_caption('Right table')
outer_merge = outer_merge.style.set_table_attributes("style='display:inline'").set_caption("outer_merge")

display_html(df1_styler._repr_html_() +  " " + df2_styler._repr_html_(), raw=True)

In [ ]:
display_html(outer_merge._repr_html_(), raw=True)

### Merging & Concatenating in two different columns

In [ ]:
df1_docs = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2_docs = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

In [ ]:
df1_styler = df1_docs.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2_docs.style.set_table_attributes("style='display:inline'").set_caption('Right table')

display_html(df1_styler._repr_html_() +  " " + df2_styler._repr_html_(), raw=True)

#### Concatenating in two different columns

In [ ]:
concat_docs = pd.concat([df1_docs, df2_docs], axis=1, keys=["1st table", "2nd table"])

df1_styler = df1_docs.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2_docs.style.set_table_attributes("style='display:inline'").set_caption('Right table')
merge_styler = concat_docs.style.set_table_attributes("style='display:inline'").set_caption('concat_docs')

display_html(df1_styler._repr_html_() +  " " + df2_styler._repr_html_(), raw=True)

In [ ]:
display_html(merge_styler._repr_html_(), raw=True)

#### Merging in two different columns

In [ ]:
df1_styler = df1_docs.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2_docs.style.set_table_attributes("style='display:inline'").set_caption('Right table')

display_html(df1_styler._repr_html_() +  " " + df2_styler._repr_html_(), raw=True)

In [ ]:
merge_docs = df1_docs.merge(df2_docs, left_on='lkey', right_on='rkey', suffixes = ["_fromleft", "_fromright"])

In [ ]:
merge_docs = df1_docs.merge(df2_docs, left_on='lkey', right_on='rkey', suffixes = ["_from_left", "_from_right"])


df1_styler = df1_docs.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = df2_docs.style.set_table_attributes("style='display:inline'").set_caption('Right table')
merge_styler = merge_docs.style.set_table_attributes("style='display:inline'").set_caption('merge_docs')

display_html(df1_styler._repr_html_() + " " + df2_styler._repr_html_(), raw=True)

In [ ]:
display_html(merge_styler._repr_html_(), raw=True)

In [ ]:
# suffixes: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [ ]:
# concat: putting things together
# join/merge: putting things together THAT ARE RELATED
    # related info in the same place -> reduces redundancy

### Join: relating index
The join, unlike the merge, will join the dataframes and where there are no records in the "index" it will put NaN

In [ ]:
import numpy as np
import pandas as pd   
from IPython.display import display_html

In [ ]:
left_df = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)


right_df = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)

In [ ]:
df1_styler = left_df.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = right_df.style.set_table_attributes("style='display:inline'").set_caption('Right table')

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_(), raw=True)

In [ ]:
result = left_df.join(right_df, how="inner")

#Rendering the df's in the same line. No need to learn this code

df1_styler = left_df.style.set_table_attributes("style='display:inline'").set_caption('Left table')
df2_styler = right_df.style.set_table_attributes("style='display:inline'").set_caption('Right table')
df1_df2_merged = result.style.set_table_attributes("style='display:inline'").set_caption('JOIN')

display_html(df1_styler._repr_html_()+ df2_styler._repr_html_() + df1_df2_merged._repr_html_(), raw=True)
#display_html(df1_styler._repr_html_()+ df2_styler._repr_html_(), raw=True)

### Differences between join & merge

<figure class="wp-block-table is-style-stripes"><table class="has-fixed-layout"><thead><tr><th><strong>Join Feature</strong></th><th class="has-text-align-center" data-align="center"><strong>join()</strong></th><th class="has-text-align-center" data-align="center"><strong>merge()</strong></th></tr></thead><tbody><tr><td>inner</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>left</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>right</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>outer</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>cross</td><td class="has-text-align-center" data-align="center">X</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>Join on Indices</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>Join on Columns</td><td class="has-text-align-center" data-align="center">X</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>Left on column, right on index</td><td class="has-text-align-center" data-align="center">Yes</td><td class="has-text-align-center" data-align="center">Yes</td></tr><tr><td>Left on index, right on column</td><td class="has-text-align-center" data-align="center">X</td><td class="has-text-align-center" data-align="center">Yes</td></tr></tbody></table>

## Pandas usual methods
```python
df.head() # prints the head, default 5 rows
df.tail() # set the tail, default 5 rows
df.describe() # statistical description
df.info() # df information
df.columns # show column
df.index # show index
df.dtypes # show column data types
df.plot() # make a plot
df.hist() # make a histogram
df.col.value_counts() # counts the unique values ​​of a column
df.col.unique() # returns unique values ​​from a column
df.copy() # copies the df
df.drop() # remove columns or rows (axis=0,1)
df.dropna() # remove nulls
df.fillna() # fills nulls
df.shape # dimensions of the df
df._get_numeric_data() # select numeric columns
df.rename() # rename columns
df.str.replace() # replace columns of strings
df.astype(dtype='float32') # change the data type
df.iloc[] # locate by index
df.loc[] # locate by element
df.transpose() # transposes the df
df.T
df.sample(n, frac) # sample from df
df.col.sum() # sum of a column
df.col.max() # maximum of a column
df.col.min() # minimum of one column
df[col] # select column
df.col
df.isnull() # null values
df.isna()
df.notna() # not null values
df.drop_duplicates() # remove duplicates
df.reset_index(inplace=True) # reset the index and overwrite
```

## Further materials

* [Read the docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Exercises to practice](https://github.com/guipsamora/pandas_exercises)
* [More on merge, concat, and join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). And [even more!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)