<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-operations-with-dataframes" data-toc-modified-id="Basic-operations-with-dataframes-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic operations with dataframes</a></span><ul class="toc-item"><li><span><a href="#Select:-column" data-toc-modified-id="Select:-column-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Select: column</a></span></li><li><span><a href="#Select:-subset" data-toc-modified-id="Select:-subset-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Select: subset</a></span></li><li><span><a href="#Get-the-unique-values-​​of-a-column" data-toc-modified-id="Get-the-unique-values-​​of-a-column-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Get the unique values ​​of a column</a></span></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#by-the-value-of-the-columns" data-toc-modified-id="by-the-value-of-the-columns-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>by the value of the columns</a></span></li><li><span><a href="#df.loc-&amp;-df.iloc" data-toc-modified-id="df.loc-&amp;-df.iloc-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>df.loc &amp; df.iloc</a></span><ul class="toc-item"><li><span><a href="#Based-on-label:-loc" data-toc-modified-id="Based-on-label:-loc-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Based on label: <code>loc</code></a></span></li><li><span><a href="#Based-on-index:--iloc" data-toc-modified-id="Based-on-index:--iloc-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Based on index:  <code>iloc</code></a></span></li></ul></li><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Rename columns</a></span><ul class="toc-item"><li><span><a href="#Rename-columns" data-toc-modified-id="Rename-columns-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Rename columns</a></span></li></ul></li><li><span><a href="#Change-the-data-type-of-a-column" data-toc-modified-id="Change-the-data-type-of-a-column-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Change the data type of a column</a></span></li><li><span><a href="#Copy-a-dataframe" data-toc-modified-id="Copy-a-dataframe-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Copy a dataframe</a></span></li></ul></li><li><span><a href="#deleting" data-toc-modified-id="deleting-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>deleting</a></span><ul class="toc-item"><li><span><a href="#delete-columns" data-toc-modified-id="delete-columns-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>delete columns</a></span></li><li><span><a href="#delete-rows" data-toc-modified-id="delete-rows-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>delete rows</a></span></li></ul></li><li><span><a href="#working-with-the-index" data-toc-modified-id="working-with-the-index-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>working with the index</a></span></li><li><span><a href="#Operations-between-columns" data-toc-modified-id="Operations-between-columns-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Operations between columns</a></span><ul class="toc-item"><li><span><a href="#creating-columns" data-toc-modified-id="creating-columns-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>creating columns</a></span></li><li><span><a href="#apply:-mapping-a-function-to-columns-/-rows" data-toc-modified-id="apply:-mapping-a-function-to-columns-/-rows-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>apply: mapping a function to columns / rows</a></span></li></ul></li><li><span><a href="#Deleting-the-duplicates" data-toc-modified-id="Deleting-the-duplicates-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Deleting the duplicates</a></span></li><li><span><a href="#Null-values" data-toc-modified-id="Null-values-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Null values</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#It-is-null?" data-toc-modified-id="It-is-null?-7.0.1"><span class="toc-item-num">7.0.1&nbsp;&nbsp;</span>It is null?</a></span></li><li><span><a href="#Is-NOT-null?" data-toc-modified-id="Is-NOT-null?-7.0.2"><span class="toc-item-num">7.0.2&nbsp;&nbsp;</span>Is NOT null?</a></span></li><li><span><a href="#Sum-the-null-values-​​of-each-column" data-toc-modified-id="Sum-the-null-values-​​of-each-column-7.0.3"><span class="toc-item-num">7.0.3&nbsp;&nbsp;</span>Sum the null values ​​of each column</a></span></li></ul></li><li><span><a href="#delete-null-values" data-toc-modified-id="delete-null-values-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>delete null values</a></span></li><li><span><a href="#How-to-fill-in-the-missing-data" data-toc-modified-id="How-to-fill-in-the-missing-data-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>How to fill in the missing data</a></span></li></ul></li><li><span><a href="#Export-data" data-toc-modified-id="Export-data-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Export data</a></span></li><li><span><a href="#Pandas-usual-methods" data-toc-modified-id="Pandas-usual-methods-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Pandas usual methods</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

![](https://files.realpython.com/media/How-to-Speed-Up-Your-Pandas-Projects_Watermarked.87866cfe1bc2.jpg)

In [2]:
import pandas as pd
import numpy as np

## Basic operations with dataframes

### Select: column

### Select: subset

### Get the unique values ​​of a column

`df.column.unique()`

`df.column.value_counts()`

## Filtering

### by the value of the columns

`watch out for | symbol`

### df.loc & df.iloc

`df.iloc[rows, columns]`

#### Based on label: `loc`

The loc method can be used in two different ways: select rows or columns based on a label, or select rows or columns based on a condition.

#### Based on index:  `iloc`

The iloc method is used on DataFrames to select elements based on their location. Its syntax is data.iloc[<filas>, <columnas>], where <filas> and <columnas> are the position of the rows and columns that you want to select in the order that they appear in the object. A familiar notation for Matlab users. In a DataFrame, each of the rows has a number that goes from 0 to the total number of rows minus one. Being iloc the method that allows selecting the data based on these numbers. The same applies to columns.

In iloc there are two arguments rows and columns. In case the second is omitted, all columns in the row will be selected. So to select different rows can be used.

loc syntax with multiple conditions
```python
df.loc[(df["column"] condition) & (df["column"] condition)]
````

### Rename columns

#### Rename columns

`.rename(dict_)`

The rename method allows me to rename only the columns that I want, the ones that are in the dictionary. No need to rename all at once

`overwriting attributes`: Requires a list with the same number of columns

### Change the data type of a column

### Copy a dataframe

In [68]:
df.sample()

,unnamed_0,date,averageprice,total_volume,4046,4225,4770,total_bags,small_bags,large_bags,xlarge_bags,type,year,region
4606,30,2016-05-29,1,117486.96,1336.42,68421.33,1567.32,46161.89,29242.9,16522.32,396.67,conventional,2016,Pittsburgh

## deleting

### delete columns

### delete rows

Rows can also be deleted. Note that the indexes are not reset. The index is associated with the row, not the order.
Can the index be restarted? Correct

## working with the index

We read the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) to understand some parameters

`set_index`

`reset_index`

What can we use to have the date as an index?
We will see it later, to analyze temporary series

## Operations between columns

### creating columns

`as the result of an operation between other columns`

### apply: mapping a function to columns / rows

`apply to a pd.Series`

Applies a function along an axis of the DataFrame.
[Read the docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

When I do an apply on a column, even though I use a lambda, I don't put axis because in the case below, what I'm doing is modifying a column, I use lambda to tell the apply that the first argument is a string that comes from outside and the second argument is the dataframe's own record.

`apply to a df`: watch for axis arg

`lambda & defined function`

`pass two arguments`: one from column, another one from me

## Deleting the duplicates

[Read the docs](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)

`duplicated()`

`drop_duplicates()`

```python
for row, series in df.iterrows():
    print(series['T1'], series['T2'],series['T3'])
```

`keep`: False, first/last

## Null values

#### It is null?

`pd.isna()` == `pd.isnull()`

#### Is NOT null?

#### Sum the null values ​​of each column

### delete null values
There are several ways to do this, we take into account the "how" parameter and of course [the docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

`Dropping missing values where all are missing values`

`Dropping missing values where there's ANY`

`how`: any

With "any" (parameter that comes by default so be careful not to put anything) all the records in which there is a NaN in any column are deleted

`how`: all

`thresh`: int

### How to fill in the missing data

How about a little [documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)?

`fillna`

## Export data

`to_csv`

`to_json`

**REMINDER:** `inplace=True` if for method to modify the DF, otherwise you need to save it into a new variable.

## Pandas usual methods
```python
df.head() # prints the head, default 5 rows
df.tail() # set the tail, default 5 rows
df.describe() # statistical description
df.info() # df information
df.columns # show column
df.index # show index
df.dtypes # show column data types
df.plot() # make a plot
df.hist() # make a histogram
df.col.value_counts() # counts the unique values ​​of a column
df.col.unique() # returns unique values ​​from a column
df.copy() # copies the df
df.drop() # remove columns or rows (axis=0,1)
df.dropna() # remove nulls
df.fillna() # fills nulls
df.shape # dimensions of the df
df._get_numeric_data() # select numeric columns
df.rename() # rename columns
df.str.replace() # replace columns of strings
df.astype(dtype='float32') # change the data type
df.iloc[] # locate by index
df.loc[] # locate by element
df.transpose() # transposes the df
df.T
df.sample(n, frac) # sample from df
df.col.sum() # sum of a column
df.col.max() # maximum of a column
df.col.min() # minimum of one column
df[col] # select column
df.col
df.isnull() # null values
df.isna()
df.notna() # not null values
df.drop_duplicates() # remove duplicates
df.reset_index(inplace=True) # reset the index and overwrite
```

## Further materials

* [Read the docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Exercises to practice](https://github.com/guipsamora/pandas_exercises)
* [More on merge, concat, and join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). And [even more!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)
* [Categories on df](https://runebook.dev/en/docs/pandas/user_guide/categorical)